$buttonColor:#6d3afb;

body{
    background-color: #f6f6f6;

    #form-wrap{
        position: absolute;
        width:100%;
        top:0;
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            padding:40px 0 0 0;
            display: flex;
            width:648px;
            flex-direction: column;
            align-items: center;
            background-color: white;
            input{
                width:548px;
                height:48px;
                border:solid 1px #ddd;
                padding:0 15px 0 15px;
                margin:0 0 10px 0;
            }
            h1{
                font-size: 34px;
            }
            h2{
                width:100%;
                text-align: left;
                padding : 0 0 0 33px;
                box-sizing: border-box;
            }
            .profile-wrap{
                padding:0 0 0 33px;
                img{
                    width:128px;
                    height:128px
                }
                input[type=file]{
                    border:none;
                }
            }

            .category-wrap{
                width:100%;
                display: flex;
                justify-content: space-around;
                select{
                    margin:10px;
                    border:solid #ddd 1px;
                    width:150px;
                    height:35px;
                    font-size: 16px;
                }
            }

            button[type=submit]{
                width:580px;
                height:35px;
                margin:30px 0 0 0;
                font-size: 15px;
                border:none;
                background-color: $buttonColor;
                color:white;
            }
        }
    }
}