*{box-sizing: border-box;}
body{
    margin:0;
    padding:0;
    background-color: #EAEAEA;
}

#find_pass_Main{
    width:1200px;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

#find_pass_Div{
    width:600px;
    height:500px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    margin-top:15%;
}

#find_Cate_Div{
    width:100%;
    height:60px;

}
.find_cate_Btn_Div{
    width:50%;
    height:100%;
    float:left;
}

.cate_Btn{
    width:100%;
    height:100%;
    background-color: #EDD200;
    border:0;
    border-left:1px solid gray;
}

.input_find{
    width:100%;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    padding-left:10px;
}

#find_pass_form_div{
    width:100%;
    height:100%;
    padding:1%;
    margin-top:5%;
}

#findPassBtn{
    width:100%;
    height:60px;
    border:0;
    background-color: #EDD200;
    margin-top:30px;
}