* {
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  background-color: #f6f6f6;
}

article {
  width: 1158px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__title {
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content__sub-title {
  font-size: 22px;
  color: gray;
}

.content__tag {
  padding: 24px 0;
}

.content__tag--inner {
  height: 29px;
  border: 1px solid #e0e0e0;
  color: #656565;
  font-size: 13px;
  padding: 4px 12px;
  border-radius: 29px;
  background-color: white;
}

.content__img {
  width: 700px;
  padding: 25px 0 35px 0;
}

.content__inner-title {
  font-size: 35px;
  color: gray;
}

.content__introduce--underline {
  background-color: #ffd014;
  height: 4px;
  width: 18px;
}

.content--same {
  font-size: 14px;
  line-height: 27px;
  color: #656565;
  width: 700px;
}

.content--title {
  font-weight: bold;
  color: black;
  margin: 50px 0 -3px 0;
  font-size: 15px;
}

.payment-info {
  width: 330px;
  height: 800px;
  margin: 200px 0 0 40px;
  border-top: 3px solid #704de4;
  background-color: white;
  font-size: 13px;
}

.payment-info__title {
  position: relative;
  top: 160px;
  left: 100px;
  font-size: 15px;
  font-weight: bold;
}

.payment-info__infomation--table {
  margin: 25px;
  width: 280px;
  border: 1px solid #A4A4A4;
  border-collapse: collapse;
}

.payment-info__infomation--table td {
  border: 2px solid #D8D8D8;
  padding: 15px 10px;
  line-height: 25px;
}

.payment-info__infomation--table td:nth-child(2n+1) {
  text-align: center;
  font-weight: 700;
}

.decoration--puple-line {
  width: 90%;
  height: 3px;
  margin: auto;
  background-color: #704de4;
  margin-bottom: 15px;
}

.choice-num {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}

.choice-num--ch1 {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 3px solid gray;
}

.choice-num--ch2 {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 3px solid gray;
}

.choice-num--circle-inner {
  width: 10px;
  height: 10px;
  margin: 3px auto;
  background-color: #704de4;
  border-radius: 20px;
}

.choice-num__count {
  position: relative;
  bottom: 55px;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.choice-num__count--minus {
  width: 20%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #BDBDBD;
  color: #A4A4A4;
  background-color: #D8D8D8;
  cursor: pointer;
}

.choice-num__count--number {
  width: 60%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #BDBDBD;
  color: #A4A4A4;
  background-color: #f6f6f6;
}

.choice-num__count--plus {
  width: 20%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #BDBDBD;
  color: #A4A4A4;
  background-color: #D8D8D8;
  cursor: pointer;
}

[type=radio] {
  visibility: hidden;
}

.nonclick1 {
  position: relative;
  left: 22px;
  bottom: 10px;
  cursor: pointer;
  visibility: visible;
}

.clicked1 {
  position: relative;
  left: 22px;
  bottom: 10px;
  cursor: pointer;
  bottom: 32px;
  visibility: hidden;
}

.nonclick2 {
  position: relative;
  left: 22px;
  bottom: 55px;
  cursor: pointer;
  visibility: visible;
}

.clicked2 {
  position: relative;
  left: 22px;
  bottom: 55px;
  cursor: pointer;
  bottom: 77px;
  visibility: hidden;
}

.radio1__title {
  position: relative;
  bottom: 53px;
  left: 60px;
  font-size: 14px;
  font-weight: bold;
}

.radio2__title {
  position: relative;
  bottom: 97px;
  left: 60px;
  font-size: 14px;
  font-weight: bold;
}

.result__title {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 25px;
  position: relative;
  top: 20px;
}

.result__sum {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 25px;
  float: right;
}

.result__submit {
  width: 70%;
  height: 55px;
  background-color: #704de4;
  border: none;
  color: #fbca4a;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}
/*# sourceMappingURL=sh_user_w_semiDetail.css.map */